<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Calculo lucro</title>
  <meta name="robots" content="noindex,nofollow">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <div class="container">
    <div class="box">

      <h1>Calculadora de Lucro</h1>

      <p>Digite as informções</p>

      <input type="text" #lu placeholder="Quantos % quer ter de lucro" (blur)="formatarInput(lu)">
      <input type="text" #pro placeholder="Quanto pagou no produto" (blur)="formatarInput(pro)">

      <h2>Últimos Resultados</h2>
      <ul #historico></ul>

      <span #spnErro class="erro" style="display:none;"></span>

      <button (click)="calcular($event)">Calcular</button>
    </div>
  </div>

  <button class="cor" (click)="mudar()">Mudar cor Fundo</button>
</body>

</html>